body{

}

#login{

}

#userList{
	border-radius: 10px;
	border:1px solid gray;
	height: 360px;
	width: 450px;
	overflow: auto;
	margin-bottom: 10px;
	padding-top: 10px;
}

#userList .row{
	overflow: hidden;
	margin-bottom: 20px;
}

#userList .username,#userList .status{
	float: left;
	margin-left: 20px;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;;
	border-radius: 5px;
	color: white;
	background-color: steelblue;
	font-size: 24px
}


#userList .status{
	color: red;
}

#userList .status.active{
	color:green;
}

#input input{
	padding: 2px;
	margin-bottom: 10px;
	width: 120px;
}

.btn{
	background-color: steelblue;
	text-align: center;
	line-height: 30px;
	height: 30px;
	color: white;
	width: 120px;
	cursor: pointer;
	margin-bottom: 10px;
}


#game{
	display: none;
}
